nav ul {
    display:flex;

   width: 70%;
   margin-left: auto;
   margin-right: auto;
   justify-content:flex-end;
}
nav ul li{
    margin:20px;

}
nav ul li:first-child{
    justify-content:flex-start;
}
nav{
    display:flex;
    background-color:#1c2ac1de;
    position:sticky;
    z-index:9999;
}
nav ul li a, nav ul li a:active, nav ul li a:link{
    color: #d6d7dc; 
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold; 
    letter-spacing: 1px; 
    transition: color 0.3s;
}
nav ul li a:hover{
    color:#ffff;
}